{
  "openapi": "3.0.1",
  "info": {
    "title": "Diarupt Engine API",
    "description": "Diarupt Conversation Engine API",
    "version": "0.0.1"
  },
  "servers": [{ "url": "https://engine.diarupt.ai" }],
  "components": {
    "schemas": {
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "face": {
            "type": "string",
            "description": "AI Face for session, see /faces for available faces",
            "example": "obama"
          },
          "profile": {
            "type": "string",
            "description": "AI Profile for session, see /profiles for available profiles",
            "example": "interviewer"
          },
          "behavior": {
            "type": "string",
            "description": "AI behaviour extension of set profile for session",
            "example": "Assume the role of a doctor. You're conducting an examination."
          },
          "time_limit": {
            "type": "number",
            "description": "Time limit for session in seconds, if 0 or not set then no time limit",
            "example": 300
          },
          "context": {
            "type": "string",
            "description": "Additonal context for session, builds on top of selected profile",
            "example": "- Candidate Name is Jon. - Position is Software Engineer."
          }
        },
        "required": ["face", "profile"]
      },
      "Session": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["IDLE", "ACTIVE", "PAUSED", "TERMINATED"]
          },
          "options": {
            "type": "object",
            "$ref": "#/components/schemas/Options"
          },
          "history": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/HistoryItem" }
          },
          "created_at": { "type": "string" },
          "duration": { "type": "integer" },
          "id": { "type": "string" }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "face": { "type": "string" },
          "profile": { "type": "string" },
          "context": { "type": "string" },
          "behavior": { "type": "string" },
          "time_limit": { "type": "integer" }
        }
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "role": { "type": "string" },
          "content": { "type": "string" },
          "timestamp": { "type": "string" }
        }
      },
      "AIFace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "AI Face identifier",
            "example": "obama"
          },
          "name": {
            "type": "string",
            "description": "AI Face name",
            "example": "Obama"
          },
          "image": {
            "type": "string",
            "description": "AI Face image",
            "example": "https://diarupt.s3.amazonaws.com/obama.jpg"
          }
        },
        "required": ["id", "name", "image"]
      },
      "AIProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "AI Profile identifier",
            "example": "interviewer"
          },
          "short_name": {
            "type": "string",
            "description": "AI Profile short name",
            "example": "Interviewer"
          },
          "description": {
            "type": "string",
            "description": "AI Profile description",
            "example": "AI to acts as an Interviewer"
          }
        },
        "required": ["id", "short_name", "description"]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": { "type": "apiKey", "name": "X-API-KEY", "in": "header" }
    }
  },
  "paths": {
    "/create-session": {
      "post": {
        "description": "Creates a new Interaction Session",
        "tags": ["Session"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "description": "Create Session options",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSessionRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "description": "Session ID",
                      "example": "1234567890abcdef"
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized access" }
        }
      }
    },
    "/terminate-session/{session_id}": {
      "post": {
        "description": "Terminates an Interaction Session",
        "tags": ["Session"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "schema": { "type": "string" },
            "required": true,
            "description": "Session ID"
          }
        ],
        "responses": {
          "200": { "description": "Session terminated" },
          "401": { "description": "Unauthorized access" }
        }
      }
    },
    "/session/{session_id}": {
      "get": {
        "description": "Gets an Interaction Session",
        "tags": ["Session"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "schema": { "type": "string" },
            "required": true,
            "description": "Session ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Got Session",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Session" }
              }
            }
          },
          "401": { "description": "Unauthorized access" }
        }
      }
    },
    "/sessions": {
      "get": {
        "description": "Gets all Interaction Sessions",
        "tags": ["Session"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string", "default": 10 }
          },
          {
            "in": "query",
            "name": "page",
            "schema": { "type": "string", "default": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Got Sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Session" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized access" }
        }
      }
    },
    "/faces": {
      "get": {
        "description": "Gets all available AI Faces",
        "tags": ["Resources"],
        "responses": {
          "200": {
            "description": "Got available faces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AIFace" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized access" }
        }
      }
    },
    "/profiles": {
      "get": {
        "description": "Gets all available AI Profiles",
        "tags": ["Resources"],
        "responses": {
          "200": {
            "description": "Got available profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AIProfile" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized access" }
        }
      }
    }
  }
}
